/*
##############################################
##############################################
######                                  ######
######          General Styles          ######
######                                  ######
##############################################
##############################################
*/
/* Components */
.feedback.success, .feedback .success {
    color: #B8F4BC;
}

.feedback.fail, .feedback .fail {
    color: #f8545c;
}

tr.selectable:hover {
    background-color: pink;
    cursor: pointer;
}

.component {
    /* border: 1px solid red; */
    margin-block-start: 3%;
}

/* Page */
html {
    background-color: #2A3652;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    color: #B8F4BC;
}

/* Apply to all section img but exclude ones inside header and #homepage */
section img:not(header img, #homepage img) {
    border-color: #B8F4BC;
    border-style: inset;
}

/* Links */
a {
    color: white;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:focus {
    color: pink;
}

a:hover {
    color: pink;
}

a:active {
    color: red;
}

/* Form */
label, input, textarea {
    font-size: 1rem;
}

input {
    inline-size: 280px;
    block-size: 50px;
    border: 2px solid black;
    text-align: center;
    border-radius: 20px;
}

label.text-area, textarea {
    display: block;
}

label.text-area {
    text-align: center;
}

textarea {
    inline-size: 350px;
    block-size: 400px;
    border: 2px solid black;
    text-align: left;
    border-radius: 20px;
    resize: vertical;
    padding-inline: 10px;
}

form > ul {
    display: contents;  /* Form will act as if LI (lists) is its direct children */
}

/* Button */
section button,
form button {
    inline-size: 350px;
    block-size: 38px;
    
    background-color: #B8F4BC;
    border-radius: 20px;
    border: 2px solid black;
}

.button-loading,
.pagination > button:hover {
    background-color: #d6f8d8 !important;
    color: rgb(46, 46, 46) !important;
}

/* 1) Interactive states only when NOT disabled */
button:not(:disabled):hover,
button:not(:disabled):focus {
    background-color: #d5fdd8;
    border-color: rgb(32, 32, 32);
    color: rgb(32, 32, 32);
}

button:not(:disabled):active {
    background-color: #eafaeb;
}

/* 2) Base disabled look (and kill mouse events) */
button:disabled,
button[disabled],
button[aria-disabled="true"],
input:disabled,
input[disabled],
input[aria-disabled="true"] {
  opacity: 0.6;                 /* or your preferred styling */
  cursor: not-allowed;
  pointer-events: none;         /* prevents hover/active from firing */
  /* keep your existing size/radius/border if desired */
}

/*
##############################################
##############################################
######                                  ######
######             Header               ######
######                                  ######
##############################################
##############################################
*/
header {
    max-inline-size: 340px;
    margin-inline: auto;
}

header .logo {
    /* Flex */
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    column-gap: 3%;
}

/* Navigation Child: Logo */
header img {
    max-block-size: 133px;
    max-inline-size: 176.52px;
}

header h1 {
    font-size: 1.875rem;
}

/* Navigation Child: Lists */
header ul {
    /* Flex */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

header ul > li {
    text-align: center;
}

/* Header child: button */
header button {
    display: block;
    inline-size: 100%;
    
    background-color: #B8F4BC;
    border-radius: 20px;
    font-weight: bolder;
    border: 2px solid black;
}

/*
##############################################
##############################################
######                                  ######
######             Homepage             ######
######                                  ######
##############################################
##############################################
*/
main#home {
    min-height: 100vh;      /* makes section fill the whole viewport height */
    display: flex;           /* make it flex */
    justify-content: center; /* center horizontally */
    align-items: center;     /* center vertically */
}

section#homepage {
    /* Flexbox */
    display: flex;
    flex-direction: column;

    /* Text */
    text-align: center;

    /* Box */
    margin-block-start: 0px;
}

section#homepage img {
    inline-size: 391px;
    block-size: 295px;
}

section#homepage h1 {
    font-size: 3.75rem;
    margin-block-end: 30px;
}

section#homepage li:first-child {
    margin-block-start: 0px;
}

section#homepage li {
    margin-block-start: 20px;
}

section#homepage a {
    font-size: 2.1875rem;
}

/*
##############################################
##############################################
######                                  ######
######          Contact Us              ######
######                                  ######
##############################################
##############################################
*/
section#contact p {
    font-size: calc(23 / 16 * 1rem);
    text-align: center;
    margin-block-end: 15px;
}

section#contact form {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

section#contact li:nth-of-type(1), 
section#contact li:nth-of-type(2),
section#contact li:nth-of-type(4)  {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

section#contact textarea {
    margin-inline: auto;
    margin-block-start: 10px;
}

/*
##############################################
##############################################
######                                  ######
###### Login, Signup, Password-Recovery ######
###### Password Change, Email Change    ######
######                                  ######
##############################################
##############################################
*/
main#login,
main#sign-up, 
main#password-recovery,
main#account-password,
main#account-email {
    min-height: 60vh;    
    display: flex;           /* make it flex */
    justify-content: center; /* center horizontally */
    align-items: center;     /* center vertically */
}

section#login-form,
section#sign-up-form,
section#verify-code,
section#enter-code,
section#change-password,
section#password-change,
section#email-change {
    inline-size: 100%;
}

section#login-form form,
section#sign-up-form form,
section#verify-code form,
section#enter-code form,
section#change-password form,
section#password-change form,
section#email-change form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

section#login-form form li > label,
section#sign-up-form form li > label,
section#verify-code form li > label,
section#enter-code form li > label,
section#change-password form li > label,
section#password-change form li > label,
section#email-change form li > label {
    display: block;
}

section#login-form form li > button,
section#sign-up-form form li > button,
section#verify-code form li > button,
section#enter-code form li > button,
section#change-password form li > button,
section#password-change form li > button,
section#email-change form li > button  {
    min-inline-size: 280px;
    min-block-size: 50px;
}

section#login-form section,
section#sign-up-form section,
section#verify-code section,
section#enter-code section,
section#change-password section,
section#password-change section,
section#email-change section  {
    margin-block-start: 20px;
    text-align: center;
}

section.timer {
    margin-block-end: 20px;
}

section.feedback > p {
    margin-block-end: 20px;
}

section.feedback > p:last-of-type {
    margin-block-end: 0px;
}

/*
##############################################
##############################################
######                                  ######
######          Account: Logs           ######
######                                  ######
##############################################
##############################################
*/
/* Table design is inside LogComponent.vue */
section#logs .pagination {
    margin-block-start: 20px;

    /* Flex */
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

section#logs .pagination > button {
    background-color: #B8F4BC;
    border-radius: 20px;
    border: 2px solid black;
    padding-inline: 20px;
}

/*
##############################################
##############################################
######                                  ######
######           Books Page             ######
######                                  ######
##############################################
##############################################
*/
main#books > *:not(:first-child) {
    margin-block-start: 10px;
}

/* Search Book Component: Start */
/* Search form */
section#search-book > form  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;  
}

section#search-book form li * {
    display: block;
    text-align: center;
}

/* Result */
section#search-book > #result > .retrieve-success {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 12px;
    text-align: center;
}

/* Failure messages */
section#search-book > #result > .retrieve-fail, 
section#search-book > #result > .empty {
    text-align: center;
    padding: 12px;         /* optional: gives it breathing room */
}

section#search-book > #result > .retrieve-fail p,
section#search-book > #result > .empty p  {
    margin: 0 auto;        /* center the <p> inside */
}

/* Success Cards */
section#search-book > #result > .retrieve-success > section {
    margin-block-start: 0;
    flex: 1 1 220px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section#search-book > #result > .retrieve-success > section img {
    inline-size: 150px;
    block-size: 200px;
    object-fit: cover;
}
/* Search Book Component: End */

/* Books Link: Start */
section#add-books-link p {
    text-align: center;
}

section#add-books-link a {
    font-weight: bolder;
    font-size: 2rem;
}
/* Books Link: End */

/* Book List: Start */
section#retrieve-books > .empty,
section#retrieve-books > .retrieve-fail {
    text-align: center;
}

section#retrieve-books > .retrieve-success > .books {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 230px;
    row-gap: 20px;
}

/* Cards Success: List Books */
section#retrieve-books > .retrieve-success > .books > section {
    display: flex;
    flex-direction: column;
    text-align: center;
}

section#retrieve-books > .retrieve-success > .books > section a {
    display: contents;
}

section#retrieve-books > .retrieve-success > .books > section p {
    overflow: hidden;
}

section#retrieve-books > .retrieve-success > .books img {
    inline-size: 150px;
    block-size: 200px;
    object-fit: cover;
    margin-inline: auto;
}

section#retrieve-books .pagination {
    margin-block-start: 20px;

    /* Flex */
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

section#retrieve-books .pagination > button {
    background-color: #B8F4BC;
    border-radius: 20px;
    border: 2px solid black;
    padding-inline: 20px;
}
/* Book List: End */

/*
##############################################
##############################################
######                                  ######
######              About               ######
######                                  ######
##############################################
##############################################
*/

main#about {
    /* background-color: #f8545c; */
    text-align: center;
}

main#about > * {
    margin-block-start: 20px;
    /* background-color: aqua; */
}

main#about > p {
    line-height: 2;
}

/*
##############################################
##############################################
######                                  ######
######            Dashboard             ######
######                                  ######
##############################################
##############################################
*/
main#dashboard > * {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Book Read Activity: Start */
section#book-read-activity > .buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;

}

section#book-read-activity > .buttons > button {
    inline-size: 150px;
    block-size: 27px;
    border-radius: 5px;
}

section#book-read-activity > .chart-wrapper {
    block-size: 350px;
}
/* Book Read Activity: End */

/* Top Books: Start */
section#top-books > h1,
section#top-books > .retrieve-fail,
section#top-books > .empty {
    text-align: center;
}

section#top-books form {
    /* Flex */
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

section#top-books form li input {
    inline-size: 50px;
    block-size: 27px;
    border-radius: 5px;
}

section#top-books form li button {
    inline-size: 150px;
    block-size: 27px;
    border-radius: 5px;
}

section#top-books > .retrieve-success {
    /* Grid */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 280px;
    gap: 10px;
}

section#top-books > .retrieve-success > section {
    display: flex;
    flex-direction: column;
    text-align: center;
}

section#top-books > .retrieve-success > section a {
    display: contents;
}

section#top-books > .retrieve-success > section p:first-of-type {
    block-size: 25px;
    overflow: hidden;
}

section#top-books > .retrieve-success img {
    inline-size: 150px;
    block-size: 200px;
    object-fit: cover;
    margin-inline: auto;
}
/* Top Books: End */

/*
##############################################
##############################################
######                                  ######
######      View Book Instance          ######
######                                  ######
##############################################
##############################################
*/

section#view-a-book .retrieve-fail,
section#view-a-book h1,
section#view-a-book .link {
    text-align: center;
}

section#view-a-book img {
    inline-size: 175px;
    block-size: 250px;
    object-fit: cover;
}

section#view-a-book .attribute {
    font-weight: bold;
}

section#view-a-book .book-instance-information * {
    font-size: 0.85rem;
}

section#view-a-book .book-instance-information {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    margin-block-start: 20px;
}

section#view-a-book .book-instance-information > section {
    flex: 1;
}

section#view-a-book .book-instance-information > .records {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
}

/* Override what the attributes have if a book has a plot description */
section#view-a-book .book-instance-information > .has-plot {
    justify-content: end;
}

section#view-a-book .book-instance-information > .records > section {
    display: flex;
    flex-direction: column;
}

section#view-a-book .book-instance-information > .records > .text-record {
    text-align: center;
    gap: 10px;
}

section#view-a-book .book-instance-information > .records img,
section#view-a-book .book-instance-information > .records .buttons {
    align-self: center;
}

section#view-a-book button {
    inline-size: 150px;
    block-size: 30px;
}

section#view-a-book .book-instance-information > .plot-description p {
    text-align: justify;
}

/*
##############################################
##############################################
######                                  ######
######           Book Notes             ######
######                                  ######
##############################################
##############################################
*/

section#view-book-note {
    /* background-color: #830209;
    border: 1px solid black; */
    margin-block-start: 20px;
}

section#view-book-note h2 {
    text-align: center;
}

/* Add Note: Start */
section#view-book-note .add-note-button button {
    display: block;
    inline-size: 200px;
    block-size: 40px;
    margin-inline: auto;
}

section#view-book-note #add-note {
    margin-block-start: 10px;
    text-align: center;
}

section#view-book-note #add-note form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section#view-book-note #add-note input {
    display: block;
    inline-size: 350px;
    block-size: 40px;
    margin-inline: auto;
}

section#view-book-note #add-note textarea {
    margin-inline: auto;
}

section#view-book-note #add-note button {
    inline-size: 200px;
    block-size: 30px;
}
/* Add Note: End */

section#view-book-note .no-list {
    text-align: center;
}

/* Note List: Start */
section#view-book-note .note-lists {
    margin-block-start: 20px;

    display: flex;
    flex-direction: column;
}

section#view-book-note .note-lists .note-information {
    padding: 10px;
    border: 1px solid #B8F4BC;
    border-radius: 5px;
}

section#view-book-note .note-lists > * {
    margin-block-start: 20px;
}

section#view-book-note .buttons {
    /* background-color: #021a83; */
    /* Flex Parent */
    display: flex;
    flex-direction: row;
    justify-content: end;
}

section#view-book-note .buttons p {
    font-size: 0.8rem;
    text-align: right;
}

section#view-book-note .buttons button {
    display: block;
    border-radius: 0px;
    inline-size: 100px;
}
/* Note List: End */

/* Update Note: Start */
section#view-book-note .update-note {
    padding: 10px;
    border: 1px solid #B8F4BC;
    border-radius: 5px;
}

section#view-book-note .update-note form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section#view-book-note .update-note input {
    display: block;
    inline-size: 100%;
    block-size: 40px;
}

section#view-book-note .update-note textarea {
    inline-size: 100%; 
    block-size: unset;
    min-block-size: 200px; 
}

section#view-book-note .update-note form li:last-of-type {
    margin-inline-start: auto;
    background-color: #f8545c;
}

section#view-book-note .update-note form button {
    display: block;
    border-radius: 0px;
    inline-size: 100px; 
}

section#view-book-note .update-note .feedback {
    text-align: center;
}

/*
##############################################
##############################################
######                                  ######
######          Add Book                ######
######                                  ######
##############################################
##############################################
*/
section#add-book-for-user .buttons button {
    display: block;
    margin-inline: auto;
    margin-block-end: 20px;
    inline-size: 200px;
    border-radius: 4px;
    border-width: 1px;
}

section#add-book-for-user form {
    display: flex;
    flex-direction: row;
    gap: 0px;
}

section#add-book-for-user form * {
    font-size: 0.80rem;
}

/* Form Child: Image Preview */
section#add-book-for-user form .image-preview {
    text-align: center;
    padding-inline-start: 5px;

    /* Flex Parent */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    /* Flex Child */
    flex: 1 1;
}

section#add-book-for-user form .image-preview h2 {
    font-size: 1rem;
}

section#add-book-for-user form .image-preview img {
    max-inline-size: none;
    inline-size: 150px;
    block-size: 200px;
    object-fit: cover;
}

#image {
    display: none;
}

.custom-file-upload {
    border: 1px solid black;
    display: block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #B8F4BC;
    color: black;
    inline-size: 150px;
}

.custom-file-upload:hover,
.custom-file-upload:active {
    background-color: #d5fdd8;
    border-color: rgb(32, 32, 32);
    color: rgb(32, 32, 32);
}

section#add-book-for-user form .image-preview button {
    border-radius: 0px;
    inline-size: 150px;
    border-width: 1px;
}

/* Form Child: Form */
section#add-book-for-user form .information {
    text-align: center;

    /* Flex Parent */
    display: flex;
    flex-direction: column;
    gap: 10px;

    /* Flex Child */
    flex: 2 1;
}

section#add-book-for-user form .information input,
section#add-book-for-user form .information textarea,
section#add-book-for-user form .information button  {
    display: block;
    inline-size: 175px;
    margin-inline: auto;
}

section#add-book-for-user form .information input,
section#add-book-for-user form .information button  {
    block-size: 30px;
    padding-inline: 5px;
}

section#add-book-for-user form .information textarea {
    min-block-size: 100px;
    block-size: 150px;
}

section#add-book-for-user .feedback {
    margin-block-start: 20px;
    text-align: center;
}


/*
##############################################
##############################################
######                                  ######
######          Media Queries           ######
######                                  ######
##############################################
##############################################
*/
/* ≥ 667px — Phone Horizontal / small landscape phones */
@media screen and (min-width: 667px) and (orientation: landscape) {
    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######             Header               ######
    ######                                  ######
    ##############################################
    ##############################################
    */
    header {
        all: revert;
    }

    /* Navigation Parent */
    header nav {
        /* Flex */
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    /* Navigation Child: Logo */
    header .logo {
        /* Flex */
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        column-gap: 3%;    
    }

    header img {
        max-block-size: 136px;
        max-inline-size: 182px;
    }

    header h1 {
        font-size: 1.875rem;
    }
    
    /* Navigation Child: List */
    header ul {
        /* Grid */
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
    }

    header ul > li {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######             Homepage             ######
    ######                                  ######
    ##############################################
    ##############################################
    */
    section#homepage {
        /* Flexbox */
        flex-direction: row;
    }

    section#homepage #notestrip-logo {
        display: flex;           /* make it flex */
        justify-content: center; /* center horizontally */
        align-items: center;     /* center vertically */
    }

    section#homepage img {
        inline-size: 302px;
        block-size: 228px;
    }

    section#homepage h1 {
        font-size: 3.125rem;
    }

    section#homepage nav {
        padding-inline: 40px;
    }

    section#homepage a {
        font-size: 1.5625rem;
    }

    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######           Books Page             ######
    ######                                  ######
    ##############################################
    ##############################################
    */
    /* Book List: Start */
    section#retrieve-books > .retrieve-success > .books {
        grid-template-columns: repeat(3, 1fr);
    }
    /* Book List: End */

    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######      View Book Instance          ######
    ######                                  ######
    ##############################################
    ##############################################
    */
    section#view-a-book .book-instance-information > .records {
        display: flex;
        justify-content: center;
    }

    section#view-a-book .book-instance-information > .records  > .text-record {
        text-align: center;
    }

    section#view-a-book .book-instance-information > .records.has-plot  > .text-record {
        text-align: right;
    }

    section#view-a-book .book-instance-information > .records.has-plot img,  
    section#view-a-book .book-instance-information > .records.has-plot .buttons {
        align-self: end;
    }

    section#view-a-book .book-instance-information > .plot-description {
        padding-inline: 10px;
    }

    section#view-a-book .book-instance-information > .plot-description p,
    section#view-a-book .book-instance-information > .plot-description .attribute {
        font-size: 0.95rem;
        line-height: 1.8;
        text-align: left;
    }

    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######          Add Book                ######
    ######                                  ######
    ##############################################
    ##############################################
    */
    section#add-book-for-user form {
        gap: 20px;
    }

    section#add-book-for-user form * {
        font-size: 0.85rem;
    }

    /* Form Child: Image Preview */
    section#add-book-for-user form .image-preview {
        padding-inline-start: 0px;

        /* Flex Parent */
        justify-content: center;
        align-items: end;

        /* Flex Child */
        flex: 2 1;
    }

    /* Form Child: Form */
    section#add-book-for-user form .information {
        text-align: left;
    }

    section#add-book-for-user form .information input,
    section#add-book-for-user form .information textarea,
    section#add-book-for-user form .information button  {
        inline-size: 200px;
        margin-inline: 0;
    }

    section#add-book-for-user form .information input,
    section#add-book-for-user form .information button  {
        block-size: 35px;
    }

    section#add-book-for-user form .information textarea {
        min-block-size: 150px;
        block-size: 200px;
    }
}

/* ≥ 768px — Tablet Vertical */
@media screen and (min-width: 768px) and (orientation: portrait) {
    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######          General Styles          ######
    ######                                  ######
    ##############################################
    ##############################################
    */
    input {
        inline-size: 350px;
    }

    textarea {
        inline-size: 400px;
    }

    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######             Header               ######
    ######                                  ######
    ##############################################
    ##############################################
    */
    header {
        all: revert;
    }

    /* Navigation Parent */
    header nav {
        /* Flex */
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    /* Navigation Child: Logo */
    header .logo {
        /* Flex */
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        column-gap: 3%;    
    }

    header img {
        max-block-size: 214px;
        max-inline-size: 162px;
    }

    header h1 {
        font-size: 1.875rem;
    }
    
    /* Navigation Child: List */
    header ul {
        /* Grid */
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
    }

    header ul > li {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header li > a {
        font-size: 1.25rem;
    }

    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######             Homepage             ######
    ######                                  ######
    ##############################################
    ##############################################
    */
    section#homepage img {
        inline-size: 484px;
        block-size: 365px;
    }

    section#homepage h1 {
        font-size: 4.6875rem;
    }

    section#homepage nav {
        margin-block-start: 50px;
    }

    section#homepage a {
        font-size: 2.5rem;
    }

    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######           Books Page             ######
    ######                                  ######
    ##############################################
    ##############################################
    */
    /* Book List: Start */
    section#retrieve-books > .retrieve-success > .books {
        grid-template-columns: repeat(4, 1fr);
    }
    /* Book List: End */

    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######              About               ######
    ######                                  ######
    ##############################################
    ##############################################
    */
    main#about > p {
        max-inline-size: 80%;
        margin-inline: auto;
    }

    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######            Dashboard             ######
    ######                                  ######
    ##############################################
    ##############################################
    */

    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######      View Book Instance          ######
    ######                                  ######
    ##############################################
    ##############################################
    */
    section#view-a-book .book-instance-information > .records {
        display: flex;
        justify-content: center;
    }

    section#view-a-book .book-instance-information > .records  > .text-record {
        text-align: center;
    }

    section#view-a-book .book-instance-information > .records.has-plot  > .text-record {
        text-align: right;
    }

    section#view-a-book .book-instance-information > .records.has-plot img,  
    section#view-a-book .book-instance-information > .records.has-plot .buttons {
        align-self: end;
    }

    section#view-a-book .book-instance-information > .plot-description {
        padding-inline: 10px;
    }

    section#view-a-book .book-instance-information > .plot-description p,
    section#view-a-book .book-instance-information > .plot-description .attribute {
        font-size: 0.95rem;
        line-height: 1.8;
        text-align: left;
    }

    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######           Book Notes             ######
    ######                                  ######
    ##############################################
    ##############################################
    */
    /* Note List: Start */
    section#view-book-note .note-lists {
        margin-inline: 60px;
    }

    section#view-book-note .note-lists > * {
        margin-block-start: 20px;
    }

    section#view-book-note .buttons p {
        padding-block: 10px;
    }
    /* Note List: End */

    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######          Add Book                ######
    ######                                  ######
    ##############################################
    ##############################################
    */
    section#add-book-for-user form {
        gap: 20px;
    }

    section#add-book-for-user form * {
        font-size: 0.91rem;
    }

    /* Form Child: Image Preview */
    section#add-book-for-user form .image-preview {
        padding-inline-start: 0px;
        /* Flex Parent */
        justify-content: center;
        align-items: end;

        /* Flex Child */
        flex: 2 1;
    }

    section#add-book-for-user form .image-preview h2 {
        font-size: 1.5rem;
    }

    section#add-book-for-user form .image-preview img {
        max-inline-size: none;
        inline-size: 150px;
        block-size: 200px;
        object-fit: cover;
    }

    /* Form Child: Form */
    section#add-book-for-user form .information {
        text-align: left;
        gap: 22px;
    }

    section#add-book-for-user form .information input,
    section#add-book-for-user form .information textarea,
    section#add-book-for-user form .information button  {
        inline-size: 250px;
        margin-inline: 0;
    }

    section#add-book-for-user form .information input,
    section#add-book-for-user form .information button  {
        block-size: 35px;
    }

    section#add-book-for-user form .information textarea {
        min-block-size: 150px;
        block-size: 200px;
    }
}

/* ≥ 1024px — Tablet Horizontal (also small laptops) */
@media screen and (min-width: 1024px) and (orientation: landscape) {
    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######          General Styles          ######
    ######                                  ######
    ##############################################
    ##############################################
    */
    input {
        inline-size: 400px;
    }

    textarea {
        inline-size: 450px;
    }

    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######             Header               ######
    ######                                  ######
    ##############################################
    ##############################################
    */
    header img {
        max-block-size: 257px;
        max-inline-size: 194px;
    }

    header h1 {
        font-size: 2.8125rem;
    }

    header li > a {
        font-size: 1.5625rem;
    }
    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######             Homepage             ######
    ######                                  ######
    ##############################################
    ##############################################
    */
    section#homepage {
        column-gap: 50px;
    }

    section#homepage img {
        inline-size: 484px;
        block-size: 365px;
    }

    section#homepage nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
    }

    section#homepage h1 {
        font-size: 4.6875rem;
    }

    section#homepage a {
        font-size: 2.5rem;
    }

    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######           Books Page             ######
    ######                                  ######
    ##############################################
    ##############################################
    */
    /* Book List: Start */
    section#retrieve-books > .retrieve-success > .books {
        grid-template-columns: repeat(4, 1fr);
    }
    /* Book List: End */

    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######              About               ######
    ######                                  ######
    ##############################################
    ##############################################
    */
    main#about > p {
        max-inline-size: 80%;
        margin-inline: auto;
    }

    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######            Dashboard             ######
    ######                                  ######
    ##############################################
    ##############################################
    */
    section#top-books > .retrieve-success {
        grid-template-columns: repeat(5, 1fr);
    }

    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######      View Book Instance          ######
    ######                                  ######
    ##############################################
    ##############################################
    */
    section#view-a-book .book-instance-information > .records {
        flex-direction: row;
        column-gap: 10px;
        row-gap: 0px;
        justify-content: center;
    }

    /* When plot description is NON-NULL */
    section#view-a-book .book-instance-information > .records.has-plot {
        justify-content: end !important;
    }

    section#view-a-book .book-instance-information > .records > .image-record {
        order: 2;
        align-items: end;
    }

    section#view-a-book .book-instance-information > .records > .text-record {
        align-items: end;
        order: 1;
        text-align: left;
    }

    section#view-a-book .book-instance-information > .records > .text-record .buttons {
        margin-inline-start: auto;
    }

    section#view-a-book .book-instance-information > .plot-description {
        padding-inline: 10px;
    }

    section#view-a-book .book-instance-information > .plot-description p,
    section#view-a-book .book-instance-information > .plot-description .attribute {
        font-size: 0.90rem;
        text-align: left;
        line-height: 2.0;
    }

    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######           Book Notes             ######
    ######                                  ######
    ##############################################
    ##############################################
    */
    /* Note List: Start */
    section#view-book-note .note-lists {
        margin-inline: 80px;
    }

    section#view-book-note .note-lists > * {
        margin-block-start: 20px;
    }

    section#view-book-note .buttons p {
        padding-block: 10px;
    }
    /* Note List: End */

    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######          Add Book                ######
    ######                                  ######
    ##############################################
    ##############################################
    */
    section#add-book-for-user form {
        gap: 20px;
    }

    section#add-book-for-user form * {
        font-size: 0.95rem;
    }

    /* Form Child: Image Preview */
    section#add-book-for-user form .image-preview {
        /* Flex Parent */
        justify-content: center;
        align-items: end;
    }

    section#add-book-for-user form .image-preview h2 {
        font-size: 1.6rem;
    }

    section#add-book-for-user form .image-preview img {
        max-inline-size: none;
        inline-size: 150px;
        block-size: 200px;
        object-fit: cover;
    }

    /* Form Child: Form */
    section#add-book-for-user form .information {
        text-align: left;
    }

    section#add-book-for-user form .information input,
    section#add-book-for-user form .information textarea,
    section#add-book-for-user form .information button  {
        inline-size: 300px;
        margin-inline: 0;
    }

    section#add-book-for-user form .information input,
    section#add-book-for-user form .information button  {
        block-size: 40px;
    }

    section#add-book-for-user form .information textarea {
        min-block-size: 150px;
        block-size: 200px;
    }
}

/* ≥ 1920px — Desktop (Full HD and up) */
@media screen and (min-width: 1500px) {
    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######             Homepage             ######
    ######                                  ######
    ##############################################
    ##############################################
    */
    section#homepage {
        column-gap: 50px;
    }

    section#homepage img {
        inline-size: 941px;
        block-size: 709px;
    }

    section#homepage h1 {
        font-size: 6.25rem;
    }

    section#homepage a {
        font-size: 3.125rem;
    }

    /*
    ##############################################
    ##############################################
    ######                                  ######
    ###### Login, Signup, Password-Recovery ######
    ###### Password Change, Email Change    ######
    ######                                  ######
    ##############################################
    ##############################################
    */
    main#login,
    main#sign-up, 
    main#password-recovery,
    main#account-password,
    main#account-email {
        min-height: 40vh;      
    }

    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######           Books Page             ######
    ######                                  ######
    ##############################################
    ##############################################
    */
    /* Book List: Start */
    section#retrieve-books > .retrieve-success > .books {
        grid-template-columns: repeat(5, 1fr);
    }
    /* Book List: End */

    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######              About               ######
    ######                                  ######
    ##############################################
    ##############################################
    */
    main#about > p {
        max-inline-size: 50%;
        margin-inline: auto;
    }

    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######            Dashboard             ######
    ######                                  ######
    ##############################################
    ##############################################
    */
    section#book-read-activity > .chart-wrapper {
        block-size: 400px;
        padding-inline: 10%;
    }

    section#top-books > .retrieve-success {
        grid-template-columns: repeat(5, 1fr);
        padding-inline: 15%;
    }

    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######      View Book Instance          ######
    ######                                  ######
    ##############################################
    ##############################################
    */

    section#view-a-book .book-instance-information > .plot-description p {
        text-align: left;
        font-size: 0.98rem;
        line-height: 1.8;
    }

    section#view-a-book {
        margin-inline: 100px;
    }

    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######           Book Notes             ######
    ######                                  ######
    ##############################################
    ##############################################
    */
    /* Note List: Start */
    section#view-book-note .note-lists {
        margin-inline: 200px;
    }

    section#view-book-note .note-lists > * {
        margin-block-start: 40px;
    }

    /*
    ##############################################
    ##############################################
    ######                                  ######
    ######          Add Book                ######
    ######                                  ######
    ##############################################
    ##############################################
    */
    section#add-book-for-user form {
        gap: 20px;
    }

    section#add-book-for-user form * {
        font-size: 1rem;
    }

    section#add-book-for-user form .information input,
    section#add-book-for-user form .information textarea,
    section#add-book-for-user form .information button  {
        inline-size: 350px;
        margin-inline: 0;
    }

    section#add-book-for-user form .information input,
    section#add-book-for-user form .information button  {
        block-size: 40px;
    }

    section#add-book-for-user form .information textarea {
        min-block-size: 200px;
        block-size: 250px;
    }
}