@font-face {
    font-family: "Poppins";
    src: url('./Poppins/Poppins-Regular.ttf');
}

html, html * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Poppins", "Courier New"
}

h1 {font-size: 2rem;}
h2 {font-size: 1.5rem;}
h3 {font-size: 1.25rem;}
h4 {font-size: 1rem;}
h5 {font-size: 0.875rem;}
h6 {font-size: 0.75rem;}

table {
    table-layout: fixed;
    border-collapse: collapse;
}

table * {
    border: 1px solid black;
}

li {
    list-style: none;
}

img, picture, video {
    display: block;
    max-inline-size: 100%;
}

label, button {
    cursor: pointer;
}